<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block titre %}Assurancy.tn | Login{% endblock %}</title>
  <!-- plugins:css -->
  {% block css %}
  <link rel="stylesheet" href="{{ asset('vendors/feather/feather.css') }}">
  <link rel="stylesheet" href="{{ asset('vendors/ti-icons/css/themify-icons.css') }}">
  <link rel="stylesheet" href="{{ asset('vendors/css/vendor.bundle.base.css') }}">
  <!-- endinject -->
  <!-- Plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{ asset('css/vertical-layout-light/style.css') }}">
  {% endblock %}
  <!-- endinject -->
  <link rel="shortcut icon" href="{{ asset('images/logo-mini.png') }}" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
        <div class="col-lg-10 mx-auto">
          <div class="col-lg-10 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <h1>Create new Reponse</h1>

                 {{ include('reponse/_form.html.twig') }}

                    <a class="btn btn-primary my-2" href="{{ path('app_assistance') }}"><i class="ti-arrow-left"></i>Back</a>
            </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
</body>

