    {% extends 'service/community.html.twig' %}

    {% block title %}Publication Details{% endblock %}

    {% block body %}
        <div class="container">
            <div class="row">
                <div class="col-md-7 offset-md-3 my-9">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title" style="color:white;">{{ publication.titre }}</h5>
                            <p class="card-text">Published on: {{ publication.date ? publication.date|date('Y-m-d H:i:s') : '' }}</p>
                            <p class="card-text">{{ publication.contenu }}</p>
                            {% if publication.image %}
                                <img src="{{ asset('uploads/' ~ publication.image) }}" class="card-img-top" alt="Publication Image" style="max-width: 500px;">
                            {% endif %}
                        </div>
                        <div class="card-footer d-flex justify-content-between align-items-center">
                            <div>
                                {% if like %}
                                    <a href="{{ path('app_publication_like', {'id': publication.id}) }}" class="btn btn-link"><i class="fas fa-heart"></i>  Unlike</a>
                                {% else %}
                                    <a href="{{ path('app_publication_like', {'id': publication.id}) }}" class="btn btn-link"><i class="fas fa-heart"></i>  Like</a>
                                {% endif %}
                                <a href="{{ path('app_publication_comments', {'id': publication.id}) }}" class="btn btn-link"><i class="fas fa-comment"></i>  Comments</a>
                            </div>
                            <div>
                                <form action="{{ path('app_publication_deleteA', {'id': publication.id}) }}" method="post" style="display: inline-block;">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ publication.id) }}">
                                    <button type="submit" class="btn btn-link" onclick="return confirm('Are you sure you want to delete this publication?')">Delete</button>
                                    <a href="{{ path('app_community') }}" class="btn btn-link">Back to dashboard</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    {% endblock %}
