{% extends 'base.html.twig' %}

{% block title %}Reclamation index{% endblock %}

{% block dhia %}
    <h1>Reclamation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sujet</th>
                <th>Contenu</th>
                <th>Email</th>
                <th>Tel</th>
                <th>Status</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.Sujet }}</td>
                <td>{{ reclamation.contenu }}</td>
                <td>{{ reclamation.email }}</td>
                <td>{{ reclamation.tel }}</td>
                <td>{{ reclamation.status }}</td>
                <td>
                    <a href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}">show</a>
                    <a href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}">edit</a>
                    <a href="{{ path('app_reponse_new', {'id': reclamation.id}) }}">repondre</a>
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reclamation_new') }}">Create new</a>
{% endblock %}
