{% extends 'base.html.twig' %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" data-navbar-on-scroll="data-navbar-on-scroll">
        <div class="container"><img src="{{ asset('assets/img/icons/logoWM.png') }}" alt=""><a class="navbar-brand" href="{{ path('index') }}"><span class="text-primary fs-3 ms-2 fw-bolder">ss</span><span class="fw-thin text-300 fs-3">urancy.tn</span></a>
          <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse pt-4 pt-lg-0" id="navbarSupportedContent">
            <p class="mb-0 ms-auto text-light fs-0 fw-normal"><i class="fas fa-phone-alt me-2"></i>Call us<a class="text-light" href="tel:+216 92440011">+216 92440011</a></p>
            <ul class="navbar-nav ms-auto border-bottom border-lg-bottom-0 pt-2 pt-lg-0">
              <li class="nav-item px-2"><a class="nav-link" href="{{ path('index') }}">Home</a></li>
              <li class="nav-item px-2"><a class="nav-link" href="{{ path('offres') }}">Our offers</a></li>
              <li class="nav-item px-2"><a class="nav-link" href="{{ path('ajouter_un_bien') }}">My goods</a></li>
              <li class="nav-item px-2"><a class="nav-link active" aria-current="page" href="{{ path('services') }}">Fast services</a></li>
              <li class="nav-item px-2"><a class="nav-link" href="{{ path('about') }}">About us</a></li>
              <li class="nav-item px-2"><a class="nav-link" href="{{ path('assistance') }}">Assitance</a></li>
              <li class="nav-item px-2"><a class="nav-link" href="{{ path('community') }}">Community</a></li>
              {% if (app.session.get('user_role') != "Client") %}
              <li class="nav-item px-0"><a class="nav-link" href="{{ path('app_dashboard') }}">Dashboard</a></li>
              {% endif %}
            </ul>
            <div class="d-flex mt-2 align-items-center mt-lg-0">
              <div class="dropdown">
                <button class="btn btn-sm d-flex mx-2" id="dropdownMenuButton1" type="submit" data-bs-toggle="dropdown" aria-expanded="false"><img style="border-radius: 50%; width: 30px; height: 30px;" src="{{ asset('uploads/' ~ app.session.get('user_image')|default('images/faces/face28.jpg')) }}" alt="profile"/></button>
                <div class="dropdown-menu dropdown-menu-dark dropdown-menu-lg-end p-0 rounded" aria-labelledby="dropdownMenuButton1" style="top:55px">
                  <p class="mb-0 ms-auto text-light fs-0 fw-normal text-center">{{app.session.get('user_name')}}</p>
                  <a class="dropdown-item" href="{{ path('profile',{'id': app.session.get('user_id')}) }}"><i class="fas fa-user-edit text-primary" style="color: black;"></i>   My profile</a>
                  <a class="dropdown-item" href="{{ path('logout') }}"><i class="fas fa-sign-out-alt text-danger"></i>    Logout</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
{% endblock %}
{% block body %}
{% block refreshPage %}
    <script>
        // Function to reload the page every 5 seconds
        function autoRefreshPage() {
            setTimeout(function () {
                var demandStatus = "{{ demande.status }}";

            // If the demand status is finished, stop the automatic refresh
            if (demandStatus === 'Terminée') {
                return;
            }
                window.location.reload();
            }, 5000); // 5000 milliseconds = 5 seconds
        }

        // Call the function when the page loads
        window.onload = autoRefreshPage;
    </script>

{% endblock %}
        <div class="bg-holder d-none d-md-block" style="background-image:url(assets/img/illustrations/bg-car-insurance.png);background-position:left top;background-size:100% 85%;"></div>
        <div class="container">
          <div class="row-cols-2 d-flex align-items-center justify-content-center">
            <div class="card card-bg shadow hero-header-form">
                <div class="card-body p-4 p-xl-6">
                    <h1 class="display-2 text-light fw-thin text-center">Demande N°{{ demande.id }}</h1>
    <h5 class="text-light fw-thin ">Status de la demande : {{ demande.status }}</h5>
    <h5 class="text-light fw-thin ">Nombres de personnes : {{ demande.nbrPersonnes }}</h5>
    <h5 class="text-light fw-thin ">Localisation : {{ demande.localisation }}</h5>
    <h5 class="text-light fw-thin ">Nom et Prénom : {{ demande.user.prenom }} {{ demande.user.nom }}</h5>
    {% if demande.status == "Acceptée" %}
        <h5 class="text-light fw-thin ">Agent SOS : {{ demande.agent.prenom }} {{ demande.agent.nom }}</h5>
        <h5 class="text-light fw-thin ">Temps Estimée : {{ demande.TempsEstime }} minutes</h5>
    {% endif %}
    {% if demande.status == "Terminée" %}
        <h5 class="text-light fw-thin ">Agent SOS : {{ demande.agent.prenom }} {{ demande.agent.nom }}</h5>
        {% if demande.showagain == 1 %}
        {{ include('rating/add.html.twig') }}
        {% endif %}
    {% endif %}
                </div>
            </div>
          </div>
        </div>
{% endblock %}






