<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
{% set normal_input_attr = { 'attr': { 'class': 'form-control form-control-lg', 'required': 'required'} } %}
{{ form_start(form, {'attr': {'class': 'pt-3', 'novalidate' : 'novalidate'}}) }}
    <div class="form-group">
        {{ form_label(form.remarque,"Remarque", {'label_attr': {'for': form.remarque.vars.id}}) }}
        {{ form_widget(form.remarque,normal_input_attr|merge({'id': 'floatingRq', 'placeholder': 'Remarque'})) }}
        {{ form_errors(form.remarque) }}
    </div>
    <div class="mt-3">
    <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" id="submit-btn" onclick="return validateForm();">{{ button_label|default("Save") }}</button>
    </div>
{{ form_end(form) }}