{% extends 'basedash.html.twig' %}

{% block title %}Assurancy.tn | Edit User{% endblock %}

{% block body %}
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_dashboard') }}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_utilisateurs') }}">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Utilisateurs</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_assurances') }}">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Assurances</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_community') }}">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Communauté</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_assistance') }}">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Assistance</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_sos') }}">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">SOS</span>
            </a>
          </li>
        </ul>
      </nav>
    <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                    <button type="button" class="btn btn-primary" onclick="window.location='{{ path("app_utilisateurs") }}'"><i class="ti-arrow-left"></i> Back</button>
                    <p class="card-title my-2">Edit User # {{ utilisateur.id }}</p>
                    {{ include('utilisateur/e_form.html.twig') }}
                  </div>
                </div>
              </div>
            </div>
        </div>
{% endblock %}
