{% extends 'basedash.html.twig' %}

{% block title %}Assurancy.tn | Constat{% endblock %}
{% block body %}
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_dashboard') }}">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          {% if (app.session.get('user_role') == "Admin") %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_utilisateurs') }}">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Utilisateurs</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_assurances') }}">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Assurances</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_community') }}">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Communauté</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_assistance') }}">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Assistance</span>
            </a>
          </li>
          {% endif %}
          {% if ((app.session.get('user_role') == "Admin") or (app.session.get('user_role') == "Agent SOS")) %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_sos') }}">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">SOS</span>
            </a>
          </li>
          {% endif %}
          {% if ((app.session.get('user_role') == "Admin") or (app.session.get('user_role') == "Expert")) %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('constat') }}">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Constat</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('devis_expert') }}">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Devis</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_evaluation') }}">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Evaluation</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Constat num °{{cns.id}} details</p>
                  <div class="row">
                    <div class="col-12">
                     <table class="table align-middle">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Vehicule A</th>
      <th scope="col"></th>
      <th scope="col">Vehicule B</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Num Permis</th>
      <td>{{cns.getVehaPermis()}}</td>
      <td></td>
      <td>{{cns.getVehbCPermis()}}</td>
    </tr>
    <tr class="align-bottom">
      <th scope="row">Venant de </th>
      <td>{{cns.getVehaVenant()}}</td>
      <td></td>
      <td>{{cns.getVehbVenant()}}</td>
    </tr>
    <tr>
      <th scope="row">Allant a</th>
      <td>{{cns.getVehaAllant()}}</td>
      <td></td>
      <td>{{cns.getVehbAllant()}}</td>
    </tr>
      <tr>
      <th scope="row">Date Délivrance Permis</th>
      <td>{{cns.getVehaDatepermis() | date('Y-m-d')}}</td>
      <td></td>
      <td>{{cns.getVehbCDatepermis() | date ('Y-m-d')}}</td>
    </tr>
      <tr>
      <th scope="row">Compagnie Assurance</th>
      <td>Assurancy.tn</td>
      <td></td>
      <td>{{cns.getVehbAssurance()}}</td>
     </tr>
      <tr>
      <th scope="row">Agence Assurance</th>
      <td>Assurancy.tn</td>
      <td></td>
      <td>{{cns.getVehbAgence()}}</td>
    </tr>
      </tr>
      <tr>
      <th scope="row">Num Police Assurance</th>
      <td></td>
      <td></td>
      <td>{{cns.getVehbPolice()}}</td>
    </tr>
    <tr>
      <th scope="row">Date debut Validité Assurance</th>
      <td></td>
      <td></td>
      <td>{{cns.getVehbAttestationVDD() | date('Y-m-d')}}</td>
    </tr>
       <tr>
      <th scope="row">Date Fin Validité Assurance</th>
      <td></td>
      <td></td>
      <td>{{cns.getVehbAttestationVDF() | date('Y-m-d')}}</td>
    </tr>
      <tr>
      <th scope="row">Nom Témoin</th>
      <td>{{cns.getVehbANom()}}</td>
      <td></td>
      <td>{{cns.getVehbCNom()}}</td>
    </tr>
    <tr>
      <th scope="row">Prenom Témoin</th>
      <td>{{cns.getVehbAPrenom()}}</td>
      <td></td>
      <td>{{cns.getVehbCPrenom()}}</td>
    </tr>
    <tr>
      <th scope="row">Adresse Témoin</th>
      <td>{{cns.getVehbAAdresse()}}</td>
      <td></td>
      <td>{{cns.getVehbCAdresse()}}</td>
    </tr>
    <tr>
      <th scope="row">Num Tel témoin</th>
      <td>{{cns.getVehbATel()}}</td>
      <td></td>
      <td>{{cns.getVehbATel()}}</td>
    </tr>
       <tr>
      <th scope="row">Marque Véhicule</th>
      <td></td>
      <td></td>
      <td>{{cns.getVehbMarque()}}</td>
    </tr>
     </tr>
       <tr>
      <th scope="row">Type Véhicule</th>
      <td></td>
      <td></td>
      <td>{{cns.getVehbType()}}</td>
    </tr>
     </tr>
       <tr>
      <th scope="row">Matricule Véhicule</th>
      <td>Mark</td>
      <td></td>
      <td>{{cns.getVehbMatricule()}}</td>
    </tr>
    </tr>
       <tr>
      <th scope="row">Circonstances</th>
      <td>{{cns.getVehaCircomstances()}}</td>
      <td></td>
      <td>{{cns.getVehbCircomstances()}}</td>
    </tr>
       <tr>
      <th scope="row">Photo Accident</th>
      <td><a href="{{ asset('uploads/' ~ cns.getPhotoVeha()) }}" target="_blank">
                                        <img src="{{ asset('uploads/' ~ cns.getPhotoVeha()) }}" alt="Veh A Photo" style="width: 100px; height: auto;">
                                        </a></td>
      <td><a href="{{ asset('uploads/' ~ cns.getPhotoAccident()) }}" target="_blank">
                                        <img src="{{ asset('uploads/' ~ cns.getPhotoAccident()) }}" alt="Accident Photo" style="width: 100px; height: auto;">
                                        </a></td>
      <td><a href="{{ asset('uploads/' ~ cns.getPhotoVehb()) }}" target="_blank">
                                        <img src="{{ asset('uploads/' ~ cns.getPhotoVehb()) }}" alt="Veh B Photo" style="width: 100px; height: auto;">
                                        </a></td>
    </tr>
     <tr>
      <th scope="row">Blessés</th>
      <td ></td>
      <td >
      {% if cns.isBlesses()==TRUE %}
      Oui
      {% else%}
      Non
      {% endif %}
      </td>
      <td class="align-top"></td>
    </tr>
      <tr>
      <th scope="row"></th>
      <td>     <a href="{{ path('app_constat_pdf', {'id': cns.getId()}) }}" target="_blank" class="btn btn-primary">Afficher le constat  en format PDF</a>
</td>
      <td>{{form(form)}}

      </td>
      <td>
      <a href="{{ path('app_constat_signature', {'id': cns.getId()}) }}" target="_blank" class="btn btn-primary">envoyer a la signature</a>
      </td>
    </tr>
    
  </tbody>
</table>

                    </div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        {% endblock %}